// app global css
// @import '~quasar.variables'
// Primary-Dark Versions
.text-primary-dark-12 {
  color: $primary-dark-12;
}
.bg-primary-dark-12 {
  background: $primary-dark-12;
}
.text-primary-dark-11 {
  color: $primary-dark-11;
}
.bg-primary-dark-11 {
  background: $primary-dark-11;
}
.text-primary-dark-10 {
  color: $primary-dark-10;
}
.bg-primary-dark-10 {
  background: $primary-dark-10;
}
.text-primary-dark-9 {
  color: $primary-dark-9;
}
.bg-primary-dark-9 {
  background: $primary-dark-9;
}
.text-primary-dark-8 {
  color: $primary-dark-8;
}
.bg-primary-dark-8 {
  background: $primary-dark-8;
}
.text-primary-dark-7 {
  color: $primary-dark-7;
}
.bg-primary-dark-7 {
  background: $primary-dark-7;
}
.text-primary-dark-6 {
  color: $primary-dark-6;
}
.bg-primary-dark-6 {
  background: $primary-dark-6;
}
.text-primary-dark-6 {
  color: $primary-dark-6;
}
.bg-primary-dark-6 {
  background: $primary-dark-6;
}
.text-primary-dark-5 {
  color: $primary-dark-5;
}
.bg-primary-dark-5 {
  background: $primary-dark-5;
}
.text-primary-dark-4 {
  color: $primary-dark-4;
}
.bg-primary-dark-4 {
  background: $primary-dark-4;
}
.text-primary-dark-3 {
  color: $primary-dark-3;
}
.bg-primary-dark-3 {
  background: $primary-dark-3;
}
.text-primary-dark-2 {
  color: $primary-dark-2;
}
.bg-primary-dark-2 {
  background: $primary-dark-2;
}
.text-primary-dark-1 {
  color: $primary-dark-1;
}
.bg-primary-dark-1 {
  background: $primary-dark-1;
}
// Primary Versions
.text-primary-12 {
  color: $primary-12;
}
.bg-primary-12 {
  background: $primary-12;
}
.text-primary-11 {
  color: $primary-11;
}
.bg-primary-11 {
  background: $primary-11;
}
.text-primary-10 {
  color: $primary-10;
}
.bg-primary-10 {
  background: $primary-10;
}
.text-primary-9 {
  color: $primary-9;
}
.bg-primary-9 {
  background: $primary-9;
}
.text-primary-8 {
  color: $primary-8;
}
.bg-primary-8 {
  background: $primary-8;
}
.text-primary-7 {
  color: $primary-7;
}
.bg-primary-7 {
  background: $primary-7;
}
.text-primary-6 {
  color: $primary-6;
}
.bg-primary-6 {
  background: $primary-6;
}
.text-primary-6 {
  color: $primary-6;
}
.bg-primary-6 {
  background: $primary-6;
}
.text-primary-5 {
  color: $primary-5;
}
.bg-primary-5 {
  background: $primary-5;
}
.text-primary-4 {
  color: $primary-4;
}
.bg-primary-4 {
  background: $primary-4;
}
.text-primary-3 {
  color: $primary-3;
}
.bg-primary-3 {
  background: $primary-3;
}
.text-primary-2 {
  color: $primary-2;
}
.bg-primary-2 {
  background: $primary-2;
}
.text-primary-1 {
  color: $primary-1;
}
.bg-primary-1 {
  background: $primary-1;
}

.page-container {
  &.no-padding {
    padding: 0;
  }
}

.main-background {
    background-image: url('../statics/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.entrance-bg {
    background-image: url('../statics/login-bg-xs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white-a50 {
    background-color: rgba(255,255,255,.5)
}
.q-item.router-link-active {
    background-color: $tertiary;
    color: white;
    .q-item-section {
        color: white;
    }
    .q-item-sublabel {
        color: $grey-5;
    }
}
.no-shadow {
    box-shadow: none !important;
}
.no-shadow-cascade {
    * {
        box-shadow: none !important;
    }
}

.sticky-table {
    max-height: $stickyTableHeight
    &.full {
        max-height: 100vh;
        background-color: white;
    }
}
.custom-table-wrapper {
    &.my-sticky-header-column-table {
        &.full {
          background-color: white;
            .q-table__middle {
                max-height: 85%
            } 
        }
        /* specifying max-width so the example can
        highlight the sticky column on any browser window */
        // max-width: 600px
        max-height: inherit
        /* max height is important */
        .q-table__middle {
            max-height: $stickyTableMiddle
        } 
        td:first-child /* bg color is important for td; just specify one */ {
            background: lighten($secondary, 10%) !important
        }
        td:first-child, td:nth-child(2) {
            opacity: 1 !important
        }
        tr:first-child th, tr:nth-child(2) th {
            position: sticky
            top: 0
            opacity: 1 /* opacity is important */
            z-index: 2 /* higher than z-index for td below */
            background: #fff /* bg color is important; just specify one */
        } 
        tr:first-child th:first-child, tr:first-child th:nth-child(2) {
            z-index: 3 /* highest z-index */
        }
        td:first-child, td:nth-child(2) {
            z-index: 1
        }
        td:first-child, th:first-child {
            position: sticky
            left: 0
        }
        td:nth-child(2), th:nth-child(2) {
            position: sticky
            left: 45px
        }
        tr.deleted {
            opacity: 1
            background: rgb(255,230,230);
            td {
                background: inherit;
                opacity: .5
            }
            &.selected {
                td {
                    background: rgb(230,190,190);
                    opacity: .8
                    * {
                        opacity: .8
                    }
                }
            }
        }
        tr.selected {
            td {
                background: rgb(225,225,225);
            }
        }
    }
    &.filter {
        .q-radio__label {
            font-size: .6em;
        }
        .q-field__control {
            height: 30px;
        }
    }
    &.mobile {
      &.full {
        max-height: 100vh;
        background-color: white;
        .q-table__top {
          padding: 0;
          position: fixed;
          top: 0;
          z-index: 1000;
          background-color: white;
          height: 115px;
        }
        .q-table__middle {
          height: 30px;
          padding: 0;
          position: fixed;
          top: 115px;
          z-index: 1001;
          .q-table {
            background-color: $secondary;
          }
        }
        > div.row:nth-child(3) {
          padding-top: 145px;
        }
      }
      .q-table__top {
        padding: 5px;
      }
    }
    .q-table {
        background: rgba(255,255,255,1);
        tr td { 
            font-size: .9em;
            // color: red;
            .q-btn__content {
                flex-wrap: nowrap;
            }
        }
        td {
            &.row-checkbox {
                background: rgba($primary, .1);
                .q-checkbox__bg {
                    border-color: $primary
                }
            }
            &.first {
                background: lighten($secondary, 50%);
            }
        }
        tr.deleted {
            background: rgb(255,230,230);
            td > * {
                opacity: .5
            }
        }
        tr.mobile-header-tr {
          display: block;
          max-width: 100vw;
          overflow: auto;
          padding: 0 3px;
        }
        .filtered {
            opacity: 1;
            color: $primary;
            font-weight: 900;
            .q-table__filter-icon {
                // transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
                opacity: 1;
                font-size: 130%;
                font-weight: 900;
                color: $primary
            }
        }
    }
}
.dashboard-table {
    .q-table__top {
        padding: 0 5px;
    }
}