// app global css
// @import '~quasar.variables'
.main-background {
    background-image: url('../statics/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.entrance-bg {
    background-image: url('../statics/login-bg-xs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white-a50 {
    background-color: rgba(255,255,255,.5)
}
.q-item.router-link-active {
    background-color: $tertiary;
    color: white;
    .q-item-section {
        color: white;
    }
    .q-item-sublabel {
        color: $grey-5;
    }
}
.no-shadow {
    box-shadow: none !important;
}
.no-shadow-cascade {
    * {
        box-shadow: none !important;
    }
}
.q-stepper {
    box-shadow: none !important;
    * {
        box-shadow: none !important;
    }
}
.sticky-table {
    max-height: $stickyTableHeight
    &.full {
        max-height: 100vh;
    }
}
.custom-table-wrapper {
    &.my-sticky-header-column-table {
        &.full {
            .q-table__middle {
                max-height: 85%
            } 
        }
        /* specifying max-width so the example can
        highlight the sticky column on any browser window */
        // max-width: 600px
        max-height: inherit
        /* max height is important */
        .q-table__middle {
            max-height: $stickyTableMiddle
        } 
        td:first-child /* bg color is important for td; just specify one */ {
            background: lighten($secondary, 10%) !important
        }
        td:first-child, td:nth-child(2) {
            opacity: 1 !important
        }
        tr:first-child th, tr:nth-child(2) th {
            position: sticky
            top: 0
            opacity: 1 /* opacity is important */
            z-index: 2 /* higher than z-index for td below */
            background: #fff /* bg color is important; just specify one */
        } 
        tr:first-child th:first-child, tr:first-child th:nth-child(2) {
            z-index: 3 /* highest z-index */
        }
        td:first-child, td:nth-child(2) {
            z-index: 1
        }
        td:first-child, th:first-child {
            position: sticky
            left: 0
        }
        td:nth-child(2), th:nth-child(2) {
            position: sticky
            left: 45px
        }
        tr.deleted {
            opacity: 1
            background: rgb(255,230,230);
            td {
                background: inherit;
                opacity: .5
            }
            &.selected {
                td {
                    background: rgb(230,190,190);
                    opacity: .8
                    * {
                        opacity: .8
                    }
                }
            }
        }
        tr.selected {
            td {
                background: rgb(225,225,225);
            }
        }
    }
    &.filter {
        .q-radio__label {
            font-size: .6em;
        }
        .q-field__control {
            height: 30px;
        }
    }
    .q-table {
        background: rgba(255,255,255,1);
        tr td { 
            font-size: .9em;
            // color: red;
            .q-btn__content {
                flex-wrap: nowrap;
            }
        }
        td {
            &.row-checkbox {
                background: rgba($primary, .1);
                .q-checkbox__bg {
                    border-color: $primary
                }
            }
            &.first {
                background: lighten($secondary, 50%);
            }
        }
        tr.deleted {
            background: rgb(255,230,230);
            td > * {
                opacity: .5
            }
        }
        .filtered {
            opacity: 1;
            color: $primary;
            font-weight: 900;
            .q-table__filter-icon {
                // transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
                opacity: 1;
                font-size: 130%;
                font-weight: 900;
                color: $primary
            }
        }
    }
}
.dashboard-table {
    .q-table__top {
        padding: 0 5px;
    }
}