// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #873173
$primary-dark = #3D1939
$secondary = #F2EAF1
$accent  = #646363
$accent-light  = #E0E0E0

$primary-dark-12 = lighten($primary-dark, 5%)
$primary-dark-11 = lighten($primary-dark, 10%)
$primary-dark-10 = lighten($primary-dark, 15%)
$primary-dark-9 = lighten($primary-dark, 20%)
$primary-dark-8 = lighten($primary-dark, 25%)
$primary-dark-7 = lighten($primary-dark, 30%)
$primary-dark-6 = lighten($primary-dark, 35%)
$primary-dark-5 = lighten($primary-dark, 40%)
$primary-dark-4 = lighten($primary-dark, 45%)
$primary-dark-3 = lighten($primary-dark, 50%)
$primary-dark-2 = lighten($primary-dark, 55%)
$primary-dark-1 = lighten($primary-dark, 60%)

$primary-12 = lighten($primary, 5%)
$primary-11 = lighten($primary, 10%)
$primary-10 = lighten($primary, 15%)
$primary-9 = lighten($primary, 20%)
$primary-8 = lighten($primary, 25%)
$primary-7 = lighten($primary, 30%)
$primary-6 = lighten($primary, 35%)
$primary-5 = lighten($primary, 40%)
$primary-4 = lighten($primary, 45%)
$primary-3 = lighten($primary, 50%)
$primary-2 = lighten($primary, 55%)
$primary-1 = lighten($primary, 60%)

$neutral   = #E0E1E2
$positive  = #56A814
$negative  = #C51C1C
$info      = #1C74AC
$warning   = #F2C037

$stickyTableHeight = 75vh
$stickyTableMiddle = 60vh